<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<script src = "../controller/regcheck.js"> </script>
	<title>DATE OF BIRTH</title>
</head>
<body>
	<fieldset>
		<legend><b>DATE OF BIRTH</b></legend>
<form action = "#" method= "POST" onsubmit="return validateForm()">
	<table >

		<tr>
			<td>
				<label for="dob">Date of Birth:</label>
			</td>
			
			<td>
				<input type="date" id="dob" name="dob">
			</td>
		</tr>

		<tr>
	<td colspan="3" align="right"><input type="submit" name="submit" value="Submit" align="right">	
		
	</td>
</tr>
	</table>
</form>

</fieldset>
</body>
</html>