<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<script src = "../controller/regcheck.js"> </script>
	<title>EMAIL</title>
</head>
<body>
	<fieldset>
		<legend><b>EMAIL</b></legend>
<form action = "#" method= "POST" onsubmit="return validateForm()">
	
			<td> Email </td>
			<td><input type="email" name="email" > </td> 
			
		</tr>
		<tr>
		<tr>
	<td colspan="3" align="right"><input type="submit" name="submit" value="Submit" align="right">	
		
	</td>
</tr>
	</table>
</form>

</fieldset>
</body>
</html>