<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<script src = "../controller/regcheck.js"> </script>
	<title>GENDER</title>
</head>
<body>
	<fieldset>
		<legend><b>EMAIL</b></legend>
<form action = "#" method= "POST" onsubmit="return validateForm()">
	<table>
		
		<tr>
			<td> Gender </td>
			<td>
				<input type="radio" id="male" name="gender" value="male"> 
				<label for="male">Male</label>
				<input type="radio" id="female" name="gender" value="female"> 
				<label for="female">Female</label>
				<input type="radio" id="other" name="gender" value="other">
				<label for="other">Other</label> 
			</td> 
		</tr>

		<tr>
	<td colspan="3" align="right"><input type="submit" name="submit" value="Submit" align="right">	
		
	</td>
</tr>
	</table>
</form>

</fieldset>
</body>
</html>