<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<script src = "../controller/regcheck.js"> </script>
	<title>PERSON REGISTRATION</title>
</head>
<body>
	<fieldset>
		<legend><b>PROFILE PIC</b></legend>
<form action = # method= "POST" onsubmit="return validateForm()">
	<table>
		<tr>
			<td>
				<label>Photo</label>
			</td>
			<td>
				<input type="file" name="uploadfile" value="" />
			</td>
		</tr>

		<tr>
	<td colspan="3" align="right"><input type="submit" name="submit" value="Submit" align="right">	
		
	</td>
</tr>
	</table>
</form>

</fieldset>
</body>
</html>